<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-lot-facture-heading"
        data-cy="LotFactureCreateUpdateHeading"
        jhiTranslate="jhipsterDistributionApp.lotFacture.home.createOrEditLabel"
      >
        Create or edit a Lot Facture
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.montantTotal" for="field_montantTotal"
            >Montant Total</label
          >
          <input
            type="number"
            class="form-control"
            name="montantTotal"
            id="field_montantTotal"
            data-cy="montantTotal"
            formControlName="montantTotal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.produit" for="field_produit">Produit</label>
          <select class="form-control" id="field_produit" data-cy="produit" name="produit" formControlName="produit">
            <option *ngIf="!editForm.get('produit')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                catalogProduitOption.id === editForm.get('produit')!.value?.id ? editForm.get('produit')!.value : catalogProduitOption
              "
              *ngFor="let catalogProduitOption of catalogProduitsSharedCollection; trackBy: trackCatalogProduitById"
            >
              {{ catalogProduitOption.designation }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['produit'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.factureAchat" for="field_factureAchat"
            >Facture Achat</label
          >
          <select class="form-control" id="field_factureAchat" data-cy="factureAchat" name="factureAchat" formControlName="factureAchat">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                factureAchatOption.id === editForm.get('factureAchat')!.value?.id ? editForm.get('factureAchat')!.value : factureAchatOption
              "
              *ngFor="let factureAchatOption of factureAchatsSharedCollection; trackBy: trackFactureAchatById"
            >
              {{ factureAchatOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.lotFacture.factureVente" for="field_factureVente"
            >Facture Vente</label
          >
          <select class="form-control" id="field_factureVente" data-cy="factureVente" name="factureVente" formControlName="factureVente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                factureVenteOption.id === editForm.get('factureVente')!.value?.id ? editForm.get('factureVente')!.value : factureVenteOption
              "
              *ngFor="let factureVenteOption of factureVentesSharedCollection; trackBy: trackFactureVenteById"
            >
              {{ factureVenteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
