<div>
  <h2 id="page-heading" data-cy="FactureAchatHeading">
    <span jhiTranslate="jhipsterDistributionApp.factureAchat.home.title">Facture Achats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.factureAchat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-facture-achat"
        [routerLink]="['/facture-achat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.factureAchat.home.createLabel"> Create a new Facture Achat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factureAchats?.length === 0">
    <span jhiTranslate="jhipsterDistributionApp.factureAchat.home.notFound">No factureAchats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="factureAchats && factureAchats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idFonc">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.idFonc">Id Fonc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="designation">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.designation">Designation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payee">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.payee">Payee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fournisseur.matricule">
            <span jhiTranslate="jhipsterDistributionApp.factureAchat.fournisseur">Fournisseur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let factureAchat of factureAchats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/facture-achat', factureAchat.id, 'view']">{{ factureAchat.id }}</a>
          </td>
          <td>
            <a *ngIf="factureAchat.photo" (click)="openFile(factureAchat.photo, factureAchat.photoContentType)">
              <img
                [src]="'data:' + factureAchat.photoContentType + ';base64,' + factureAchat.photo"
                style="max-height: 30px"
                alt="factureAchat image"
              />
            </a>
            <span *ngIf="factureAchat.photo">{{ factureAchat.photoContentType }}, {{ byteSize(factureAchat.photo) }}</span>
          </td>
          <td>{{ factureAchat.idFonc }}</td>
          <td>{{ factureAchat.designation }}</td>
          <td>{{ factureAchat.description }}</td>
          <td>{{ factureAchat.montant }}</td>
          <td>{{ factureAchat.date | formatMediumDatetime }}</td>
          <td>{{ factureAchat.payee }}</td>
          <td>
            <div *ngIf="factureAchat.fournisseur">
              <a [routerLink]="['/fournisseur', factureAchat.fournisseur?.id, 'view']">{{ factureAchat.fournisseur?.matricule }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/facture-achat', factureAchat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/facture-achat', factureAchat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(factureAchat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
