<div>
  <h2 id="page-heading" data-cy="LotCamionHeading">
    <span jhiTranslate="jhipsterDistributionApp.lotCamion.home.title">Lot Camions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.lotCamion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lot-camion"
        [routerLink]="['/lot-camion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.lotCamion.home.createLabel"> Create a new Lot Camion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lotCamions?.length === 0">
    <span jhiTranslate="jhipsterDistributionApp.lotCamion.home.notFound">No lotCamions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lotCamions && lotCamions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="jhipsterDistributionApp.lotCamion.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterDistributionApp.lotCamion.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montantTotal">
            <span jhiTranslate="jhipsterDistributionApp.lotCamion.montantTotal">Montant Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produit.designation">
            <span jhiTranslate="jhipsterDistributionApp.lotCamion.produit">Produit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="camion.designation">
            <span jhiTranslate="jhipsterDistributionApp.lotCamion.camion">Camion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let lotCamion of lotCamions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lot-camion', lotCamion.id, 'view']">{{ lotCamion.id }}</a>
          </td>
          <td>{{ lotCamion.quantite }}</td>
          <td>{{ lotCamion.date | formatMediumDatetime }}</td>
          <td>{{ lotCamion.montantTotal }}</td>
          <td>
            <div *ngIf="lotCamion.produit">
              <a [routerLink]="['/catalog-produit', lotCamion.produit?.id, 'view']">{{ lotCamion.produit?.designation }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lotCamion.camion">
              <a [routerLink]="['/camion', lotCamion.camion?.id, 'view']">{{ lotCamion.camion?.designation }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lot-camion', lotCamion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lot-camion', lotCamion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lotCamion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
