<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-facture-vente-heading"
        data-cy="FactureVenteCreateUpdateHeading"
        jhiTranslate="jhipsterDistributionApp.factureVente.home.createOrEditLabel"
      >
        Create or edit a Facture Vente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.photo" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="factureVente image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.idFonc" for="field_idFonc">Id Fonc</label>
          <input type="text" class="form-control" name="idFonc" id="field_idFonc" data-cy="idFonc" formControlName="idFonc" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.designation" for="field_designation"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
          <div *ngIf="editForm.get('designation')!.invalid && (editForm.get('designation')!.dirty || editForm.get('designation')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('designation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.payee" for="field_payee">Payee</label>
          <input type="checkbox" class="form-check" name="payee" id="field_payee" data-cy="payee" formControlName="payee" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterDistributionApp.factureVente.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option *ngIf="!editForm.get('client')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.matricule }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['client'])!.invalid && (editForm.get(['client'])!.dirty || editForm.get(['client'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['client'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
