<div>
  <h2 id="page-heading" data-cy="LotFactureHeading">
    <span jhiTranslate="jhipsterDistributionApp.lotFacture.home.title">Lot Factures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.lotFacture.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lot-facture"
        [routerLink]="['/lot-facture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterDistributionApp.lotFacture.home.createLabel"> Create a new Lot Facture </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lotFactures?.length === 0">
    <span jhiTranslate="jhipsterDistributionApp.lotFacture.home.notFound">No lotFactures found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lotFactures && lotFactures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montantTotal">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.montantTotal">Montant Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produit.designation">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.produit">Produit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="factureAchat.id">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.factureAchat">Facture Achat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="factureVente.id">
            <span jhiTranslate="jhipsterDistributionApp.lotFacture.factureVente">Facture Vente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let lotFacture of lotFactures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lot-facture', lotFacture.id, 'view']">{{ lotFacture.id }}</a>
          </td>
          <td>{{ lotFacture.quantite }}</td>
          <td>{{ lotFacture.date | formatMediumDatetime }}</td>
          <td>{{ lotFacture.montantTotal }}</td>
          <td>
            <div *ngIf="lotFacture.produit">
              <a [routerLink]="['/catalog-produit', lotFacture.produit?.id, 'view']">{{ lotFacture.produit?.designation }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lotFacture.factureAchat">
              <a [routerLink]="['/facture-achat', lotFacture.factureAchat?.id, 'view']">{{ lotFacture.factureAchat?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lotFacture.factureVente">
              <a [routerLink]="['/facture-vente', lotFacture.factureVente?.id, 'view']">{{ lotFacture.factureVente?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lot-facture', lotFacture.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lot-facture', lotFacture.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lotFacture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
