<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lotCamion">
      <h2 data-cy="lotCamionDetailsHeading"><span jhiTranslate="jhipsterDistributionApp.lotCamion.detail.title">Lot Camion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lotCamion.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDistributionApp.lotCamion.quantite">Quantite</span></dt>
        <dd>
          <span>{{ lotCamion.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDistributionApp.lotCamion.date">Date</span></dt>
        <dd>
          <span>{{ lotCamion.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDistributionApp.lotCamion.montantTotal">Montant Total</span></dt>
        <dd>
          <span>{{ lotCamion.montantTotal }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDistributionApp.lotCamion.produit">Produit</span></dt>
        <dd>
          <div *ngIf="lotCamion.produit">
            <a [routerLink]="['/catalog-produit', lotCamion.produit?.id, 'view']">{{ lotCamion.produit?.designation }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterDistributionApp.lotCamion.camion">Camion</span></dt>
        <dd>
          <div *ngIf="lotCamion.camion">
            <a [routerLink]="['/camion', lotCamion.camion?.id, 'view']">{{ lotCamion.camion?.designation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lot-camion', lotCamion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
